.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  /* flex: 1; */
  height: 100px;
  background-color: hsl(var(--base-color800));
  display: flex;
  align-items: center;
  color: white;
  padding: calc(var(--default-padding) * 4);
}

.header h1 {
  flex: 1;
}

.header-button {
  background: transparent;
  border: none;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: calc(var(--default-padding) * 4);
}

.option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--base-color800));
  color: white;
  border-radius: 20px;
  margin: calc(var(--default-margin) * 2);
}

.option:hover {
  cursor: pointer;
  background-color: transparent;
  color: hsl(var(--base-color800));
  border: 2px solid hsl(var(--base-color800));
}
