:root {
  --base-color800: 270, 100%, 20%;
  --base-color700: 270, 100%, 30%;
  --base-color600: 270, 100%, 40%;
  --base-color500: 270, 100%, 50%;
  --base-color400: 270, 100%, 60%;
  --base-color300: 270, 100%, 70%;
  --base-color200: 270, 100%, 80%;

  --green-accent800: 120, 100%, 20%;
  --green-accent700: 120, 100%, 30%;
  --green-accent600: 120, 100%, 40%;
  --green-accent500: 120, 100%, 50%;
  --green-accent400: 120, 100%, 60%;
  --green-accent300: 120, 100%, 70%;
  --green-accent200: 120, 100%, 80%;

  --red-accent800: 0, 100%, 20%;
  --red-accent700: 0, 100%, 30%;
  --red-accent600: 0, 100%, 40%;
  --red-accent500: 0, 100%, 50%;
  --red-accent400: 0, 100%, 60%;
  --red-accent300: 0, 100%, 70%;
  --red-accent200: 0, 100%, 80%;

  --yellow-accent800: 45, 100%, 20%;
  --yellow-accent700: 50, 100%, 30%;
  --yellow-accent600: 55, 100%, 40%;
  --yellow-accent500: 60, 100%, 50%;
  --yellow-accent400: 60, 100%, 60%;
  --yellow-accent300: 60, 100%, 70%;
  --yellow-accent200: 60, 100%, 80%;

  --grey800: 215, 5%, 20%;
  --grey700: 210, 10%, 30%;
  --grey600: 205, 15%, 40%;
  --grey500: 200, 20%, 50%;
  --grey400: 205, 15%, 60%;
  --grey300: 210, 10%, 70%;
  --grey200: 215, 5%, 80%;

  --default-border-radius: 2px;
  --default-padding: 5px;
  --default-margin: 2px;
  --default-font-size: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-variant: small-caps;

  min-height: 100vh;
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

button {
  border-radius: 5px;
  padding: calc(var(--default-padding) * 2);
  color: white;
  background-color: hsl(var(--base-color800));
  border: none;
}
button:disabled {
  background-color: hsl(var(--base-color800), 0.2);
}
button:hover {
  cursor: pointer;
}

th,
td {
  text-align: center;
}

th {
  font-weight: bold;
  padding: calc(var(--default-padding) * 2);
}
